<div class="container">
  <h1>Welcome to twitter jr! </h1>
  <% if @user.nil? %>

  <!-- lets user login -->
  <form action="/profiles" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="login">
  </form>

  <a id="signup" href="/signup"><button>Signup</button></a>

  <% else %>
  <h2><a href="/profiles/<%=@user.id %>"><%= @user.first_name %></a></h2>
  <% end %>

  <ul>
    <% @users_we_follow.each do |other_user| %>
      <% other_user.tweets.each do |tweet| %>
      <p><a href="/profiles/<%= other_user.id %>"><%= other_user.username %> : <a href="/tweets/<%= tweet.id %>"><%= tweet.body  %></a></p>
      <% end %>
    <% end %>
  </ul>
</div>
