<h1>Welcome <%= @user.username %></h1>
  <a href="/"><p>Twitter Jr!</p></a>
<br>
<a href="/profiles/<%=@user.id%>/edit">Click here to edit your profile</a>
<br>
<form action="/maketweets" method="post">
    <input type="text" name="body" placeholder="tweet" >
    <input type="submit" value="Tweet!">
  </form>
<% @user.tweets.each do |tweet| %>
  <p> <a href="/tweets/<%= tweet.id %>"><%= tweet.body  %></a></p>
<% end %>


 <form action="/followings" method="post">
    <input type="hidden" name="following_id" value="<%= @user.id %>">
    <input type="submit" value="follow">
  </form>
  <br>
<h2>here are your followers</h2>
<ul>
  <% @user.followers.each do |follower| %>
    <li><a href="/profiles/<%=follower.id%>"><%= follower.username %></a></li>
  <% end %>
</ul>

<h2>here are people you follow</h2>
<ul>
  <% @users_we_follow.each do |other_user| %>
    <li><a href="/profiles/<%= other_user.id %>"><%= other_user.username %></a></li>
  <% end %>
</ul>


